@page "/sites"
@inject NavigationManager _nav;

<h2>Poker Club Overview</h2>

@if (PokerClubs == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>
                    Club Name <a href="@($"pokerclubedit/")" class="btn btn-outline-primary align-self-end">Add Pokerclub</a>
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var pokerClub in PokerClubs)
            {
                <tr>
                    <td>@pokerClub.PokerClubName</td>
                    <td><button @onclick="@(() => _nav.NavigateTo($"pokerclubedit/{pokerClub.id}/{pokerClub.PokerClubId}"))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}