@page "/sessions"
<PageTitle>@Title</PageTitle>
<h2>Sessions Overview</h2>

@if (PokerSessions == null)
{
    <p><em>Loading ... </em></p>
}
else
{
    <QuickViewPopup PokerSession="_selectedSession"></QuickViewPopup>
    <div class="row">
        @foreach (var pokerSession in PokerSessions)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <SessionCard PokerSession="pokerSession" PokerSessionQuickViewClicked="ShowQuickViewPopup"></SessionCard>
            </div>
        }
    </div>
}

